<section class="mt-4">
    <div class="container">
        <h2 class="text-center">Personagens</h2>
        <div class="row">
            <div class="col-12 col-md-6">
                <app-search placeholder="Pesquisar pelo nome" 
                            [type]="TypeSearch.NAME"
                            (searchResults)="updateCharacters($event)">
                </app-search>
            </div>
            <div class="col-12 col-md-6">
                <app-search placeholder="Pesquisar pelo status" 
                            [type]="TypeSearch.STATUS"
                            (searchResults)="updateCharacters($event)">
                </app-search>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col" *ngFor="let character of characteres">
                <app-card [character]="character"></app-card>
            </div>
        
         
        </div>
    </div>
</section>