<div class="card mb-3">
    <img src="{{character.image}}" class="card-img-top" alt="{{character.name}}">
    <div class="card-body">
      <h5 class="card-title card-name">{{character.name}}</h5>
      <p class="card-text card-status">
        Status: <span class="circle" [ngClass]="getStatusClass(character.status)"></span> {{ character.status }}
      </p>
      
      <p>Local: {{character.location.name}}</p>
      <p>Total de episódios: {{character.episode.length}}</p>
      <button type="button" class="btn btn-light modal-btn" (click)="openModal(character)">
        <i class="fa-solid fa-circle-info"></i> Mais detalhes
      </button>
    
      
    </div>
  </div>
<app-modal></app-modal>