.card{
    width: 18rem;

    &:hover{
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
        transform: scale(1.05);
        transition: .5s;
    }
    .modal-btn{
        border-radius: 3rem;
    }
}