<div class="d-flex justify-content-center my-4">
    <button class="btn-previous btn btn-light mx-2" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
      Anterior
    </button>
  
    <span>Página 
      <select class="select-page" [(ngModel)]="currentPage" (change)="onPageChange($event)">
        <option *ngFor="let i of [].constructor(totalPages); let idx = index" [value]="idx + 1">
          {{ idx + 1 }}
        </option>
      </select>
      de {{ totalPages }}
    </span>
    
  
    <button class="btn-next btn btn-light mx-2" (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">
      Próxima
    </button>
  </div>
  