<nav>
     <nav class="nav">
            <div>
                <a href="">
                    <i class="fas fa-dice-d20"></i> Rick And Morty Search
                </a>
                
            </div>
            <div class="search">
                <button><i class="fas fa-search"></i></button>
                <input type="search" name="search" class="input_search">
            </div>
            <div class="icons">
                <i class="fas fa-th-list"></i>
                <i class="fas fa-bookmark"></i>
            </div>
        </nav>
</nav>