@import "bootstrap/dist/css/bootstrap.min.css";
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
:root{
    --color-font: #1DACCB;
    --color-detail: #C9DE4E;
    --gradient-default: linear-gradient(#292F3B,#0e1013);
}
@font-face {
    font-family: 'RickAndMorty';
    src: url('/assets/fonts/RickAndMorty.ttf');
}